form, h2{
	text-align: center;
}
form{
	padding: 30px 0px 30px 0px;
}

h2{
	padding-bottom: 30px;
}

#currency-switch{
	text-decoration: none;
}

.btn {
	border: 1px solid rgb(209, 209, 209)
}

#hresult-graph{
	height:300px;
	min-width: 310px;
}
